        <footer id="footer" class="app-footer" role="footer">
            <div class="footer-wrapper">
                <div class="container-fluid plr-0">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-right"><a href="https://github.com/mavisland/tncpanel"><%= siteName %></a> v0.0.3</span>
                            <span>Made with <i class="fa fa-fw fa-heart text-danger"></i> by <a href="https://github.com/mavisland" target="_blank">@mavisland</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </footer> <!-- #footer -->
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/tncpanel.min.js"></script>
</body>
</html>