        <footer id="footer" class="app-footer" role="footer">
            <div class="footer-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">2016 &copy; <a href="https://github.com/mavisland/tncpanel"><%= siteName %></a> by <a href="https://github.com/mavisland" target="_blank">@mavisland</a></div>
                    </div>
                </div>
            </div>
        </footer> <!-- #footer -->
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/tncpanel.min.js"></script>
</body>
</html>