<%
var pageTitle = "Dashboard";
var pageID    = "dashboard";
var pageClass = "dashboard";
%>
<% include _header %>
<% include _sidebar %>
        <div id="content" class="app-content" role="main">
            <div class="content-header">
                <h1 class="page-title"><%= pageTitle %></h1>
                <span class="page-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
            <div class="content-wrapper">
                <div class="container-fluid plr-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Just a quick note:</strong> Hope you like the theme!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Latest Stats</h3>
                                </div>
                                <div class="panel-body">
                                    Panel content
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum necessitatibus ab id tenetur molestias voluptatum cumque consequatur aliquid repellendus pariatur. Vel suscipit veritatis architecto sed odit esse ab quo deleniti.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolorem, esse hic, ex tenetur accusantium iure illo, minus nam cupiditate molestiae dolorum eveniet! Cupiditate aperiam illum reprehenderit neque vitae debitis.</p>
            </div>
        </div> <!-- #content -->
<% include _footer %>