<%
var pageTitle = "Dashboard";
var pageID    = "dashboard";
var pageClass = "dashboard";
%>
<% include _header %>
<% include _sidebar %>
        <div id="content" class="app-content" role="main">
            <div class="content-header">
                <h1 class="page-title"><%= pageTitle %></h1>
                <span class="page-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
            <div class="content-wrapper">
                <div class="container-fluid plr-0">
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div> <!-- #content -->
<% include _footer %>