//
// Content
// --------------------------------------------------

.wrapper {
    padding: 20px;
    .clearfix();
}

.app-content {
    height: 100%;

    &,
    .content-wrapper {
        .clearfix();
    }
}

.content-header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    float: left;
    width: 100%;

    .page-title {
        font-size: @font-size-h3;
        line-height: unit(32px / @font-size-h3);
        margin: 0;
    }

    .page-desc {}
}

.content-wrapper {
    float: left;
    width: 100%;
    padding: 20px;
    padding-bottom: @app-header-height;
}

@media (min-width: @grid-float-breakpoint) {
    .app-content {
        margin-left: @sidebar-width;
        .transition(margin-left .3s);

        .aside-collapse & {
             margin-left: 50px;
        }
    }
}
