//
// Scaffolding
// --------------------------------------------------

// Body reset
html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

// Links
a {
    .transition(all 200ms ease);
}
