//
// Variables
// --------------------------------------------------

// Colors
// -------------------------
@brand-white:          #ecf0f1;
@brand-white-dark:     #bdc3c7;
@brand-primary-dark:   #16a085;
@brand-success-dark:   #27ae60;
@brand-info-dark:      #2980b9;
@brand-warning-dark:   #f39c12;
@brand-danger-dark:    #c0392b;


// Forms
// -------------------------
@input-border-radius:        0;
@input-border-color:         #e3e3e3;
@input-focus-border-color:   #aaa;
@form-label-color:           #555;


// Header
// -------------------------
@app-header-height:          50px;
@app-header-width:           240px;
@navbar-header-bg-color:     @link-color;
@navbar-brand-color:         #fff;
@navbar-brand-hover-color:   #fff;
@navbar-collapse-bg-color:   #222; //#fff;
@navbar-nav-border-color:    rgba(255,255,255,0.1);
@navbar-nav-link-color:      #ccc;
@navbar-nav-link-bg:         transparent;
@navbar-nav-hover-color:     #fff;
@navbar-nav-hover-bg:        #333;
@navbar-nav-active-color:    #fff;
@navbar-nav-active-bg:       transparent;


// Sidebar
// -------------------------
@sidebar-bg-color:               #333333;
@sidebar-text-color:             #a6a8b1;
@sidebar-width:                  @app-header-width;
@sidenav-bg-color:               transparent;
@sidenav-header-bg-color:        transparent;
@sidenav-header-text-color:      #777;
@sidenav-link-bg-color:          transparent;
@sidenav-link-color:             #ccc;
@sidenav-link-active-bg-color:   #444;
@sidenav-link-active-color:      #fff;
@sidenav-link-hover-bg-color:    transparent;
@sidenav-link-hover-color:       @navbar-header-bg-color;
@sidenav-sub-bg-color:           transparent;
@sidenav-sub-link-color:         #ccc;
@sidenav-sub-link-hover-color:   @navbar-header-bg-color;


// Footer
// -------------------------
@app-footer-bg-color:       #f2f2f2;
@app-footer-border-color:   #ddd;
@app-footer-text-color:     #383838;
@app-footer-height:         @app-header-height;
@app-footer-width:          @app-header-width;
